@font-face {
	font-family: dice;
	src: url("./dice.otf") format("opentype");
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#app-container {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: maroon;
}

#game-container{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: darkred;
	/* background-image: url("https://www.shutterstock.com/shutterstock/videos/8856988/thumb/1.jpg?ip=x480"); */
	background-size: cover;
	background-blend-mode: darken;
}

#dice-container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;

	width: 30vw;
	height: 100%;

	border: 8px ridge gold;
	background-color: lightseagreen;
	background-image: url("https://media.freestocktextures.com/cache/9f/5b/9f5b497386d49390d7b7ca43acb68a33.jpg");
	background-size: cover;
	background-blend-mode: overlay;


}

#list-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 70%;
	height: 100%;

	border: 8px ridge gold;
	border-left: 2px;

	background-color: burlywood;
	background-image: url("https://media.freestocktextures.com/cache/4d/e6/4de6261b970deb804e557b9bb1dd44ad.jpg");
	background-blend-mode: luminosity;
	background-size: cover;


}

.score-section {
	/* display: block; */
	background-color: floralwhite;
	border-collapse: collapse;
	width: 100%;
	border: 4px double black;
	flex-grow: 1;
	min-width: 80%;
	font-size: 2vh;
}
.score-section td:nth-child(even) {
	width: 45%;
}

.roll-button {
	flex-grow: 1;
	margin-top: 5%;
	margin-bottom: 5%;
	min-width: 50%;
}

td {
	border: 1px solid black;
	padding: 4px;
}

.score-field {
	color: #888;
}

.die {
	font-size: 2rem;
	font-family: dice;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: 5px;
	width: 125px;
	height: 125px;
	background-color: grey;
	color: black;

	box-sizing: border-box;
	border-bottom: 8px solid #444;
}

.active {
	background-color: white;
	border-bottom: 8px solid lightgray;
}

@media screen and (max-width: 750px) {
	.die{
		width: 75px;
		height: 75px;
	}
}



